{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Recipies</h1>

        <form method="post" enctype="multipart/form-data">
            <div class="col-md-8 col-lg-6 mx-auto card p-4 shadow-lg">
                {% csrf_token %}
                <h2 class="text-center mb-4">Add Recipie</h2>
                <hr class="mb-4">

                <div class="mb-4">
                    <label for="recipie_name" class="form-label fw-bold">Recipie Name</label>
                    <input type="text" class="form-control" name="recipie_name" id="recipie_name" placeholder="Enter recipie name">
                </div>
            
                <div class="mb-4">
                    <label for="recipie_description" class="form-label fw-bold">Recipe Description</label>
                    <textarea class="form-control" name="recipie_description" id="recipie_description" rows="4" placeholder="Enter recipe description"></textarea>
                </div>

                <div class="mb-4">
                    <label for="recipie_image" class="form-label fw-bold">Recipe Image</label>
                    <input type="file" class="form-control" name="recipie_image" id="recipie_image" accept="image/*">
                </div>
            
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-lg px-5">Add Recipie</button>
                </div>
            </div>
        </form>
    <div>
        <form>
        <div>
        <label for="recipie_name" class="form-label fw-bold">Search Food</label>
                    <input type="text" class="form-control" name="search"   placeholder="Enter recipie name">
        </div>

        <button type="submit" class="btn btn-primary ">Search</button>
        </form>
        
    </div>

    <div class="container mt-5">
        <table class="table table-bordered table-hover table-striped">
            <thead class="table-dark">
                <tr>
                    <th scope="col" class="text-center" style="width: 5%">#</th>
                    <th scope="col" style="width: 20%">Recipie Name</th>
                    <th scope="col" style="width: 45%">Recipie Description</th>
                    <th scope="col" style="width: 30%">Recipie Image</th>
                    <th scope="col" style="width: 30%">Actions</th>
                </tr>
            </thead>
            <tbody>
                {%for recipie in recipies%}
                <tr>
                    <th scope="row" class="text-center">{{forloop.counter}}</th>
                    <td class="align-middle">{{recipie.recipie_name}}</td>
                    <td class="align-middle">{{recipie.recipie_description}}</td>
                    <td class="text-center">
                        {% if recipie.recipie_image %}
                            <img src="{{recipie.recipie_image.url}}" alt="{{recipie.recipie_name}}" class="img-thumbnail" style="max-height: 150px;">
                        {% else %}
                            No image
                        {% endif %}
                    </td>

                    <td>
                        <a href="/delete-recipie/{{recipie.id}}" class="btn btn-danger">Delete</a>
                        <a href="/update-recipie/{{recipie.id}}" class="btn btn-warning">Update</a>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

